Repository JetBrains/lincheck, pull requests merged in 2025-06, with the labels that each got.

#649 Support java.io, java.nio.file in trace debugger
  bootstrap/src/sun/nio/ch/lincheck/EventTracker.java
  bootstrap/src/sun/nio/ch/lincheck/Injections.java
  bootstrap/src/sun/nio/ch/lincheck/Types.java
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/managed/ManagedStrategy.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/managed/MethodCallResultsTracker.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/DeterministicMethodDescriptor.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/DeterministicRandomMethodDescriptor.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/PureDeterministicMethodDescriptor.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/ReplayableMutableInstance.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/io/DeterministicFileMethodDescriptor.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/io/FileApiSpecificMethodDescriptors.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/io/ForEachHolder.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/io/JavaStandardLibrary.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/io/TrackedIterable.java
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/native_calls/io/TrackedIterator.java
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/LincheckClassVisitor.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/LincheckJavaAgent.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/MethodCallTransformer.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/util/AnalysisSections.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/util/Reflection.kt
  src/jvm/test-jdk11/org/jetbrains/kotlinx/lincheck_test/trace_debugger/io/FileSpecialCasesOnModernJdksTests.kt
  src/jvm/test/org/jetbrains/kotlinx/lincheck_test/trace_debugger/AbstractDeterministicTest.kt
  src/jvm/test/org/jetbrains/kotlinx/lincheck_test/trace_debugger/io/FileSpecialCasesTests.kt
  src/jvm/test/org/jetbrains/kotlinx/lincheck_test/trace_debugger/io/FileTests.kt
  src/jvm/test/org/jetbrains/kotlinx/lincheck_test/trace_debugger/io/StreamTests.kt
  src/jvm/test/org/jetbrains/kotlinx/lincheck_test/trace_debugger/io/ZipStreamTests.kt
  src/jvm/test/resources/expected_logs/run_concurrent_test/main_thread_blocked_trace_debugger_jdk11.txt
Labels: Trace Debugger

#684 Add FieldDescriptor, VariableDescriptor
  bootstrap/src/sun/nio/ch/lincheck/EventTracker.java
  bootstrap/src/sun/nio/ch/lincheck/Injections.java
  src/jvm/main/org/jetbrains/kotlinx/lincheck/TraceDebugger.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/managed/LoopDetector.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/managed/ManagedStrategy.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/trace/TracePoint.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/CodeLocations.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/Descriptors.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/TransformationUtils.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/InlineMethodCallTransformer.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/IntrinsicCandidateMethodFilter.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/LocalVariablesAccessTransformer.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/MethodCallTransformer.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/SharedMemoryAccessTransformer.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/ThreadTransformer.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/util/Types.kt
Labels: refactoring

#689 Refactor trace point creation handling for shared memory access and array read operations
  bootstrap/src/sun/nio/ch/lincheck/EventTracker.java
  bootstrap/src/sun/nio/ch/lincheck/Injections.java
  scripts/overwrite_representation_tests.sh
  src/jvm/main/org/jetbrains/kotlinx/lincheck/strategy/managed/ManagedStrategy.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/trace/TracePoint.kt
  src/jvm/main/org/jetbrains/kotlinx/lincheck/transformation/transformers/SharedMemoryAccessTransformer.kt
  src/jvm/test/resources/expected_logs/concurrent_linked_deque_jdk8.txt
  src/jvm/test/resources/expected_logs/multiple_suspension_points_channels_trace_debugger.txt
  src/jvm/test/resources/expected_logs/multiple_suspension_points_channels_trace_debugger_jdk11.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/custom_threads.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/custom_threads_jdk11.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/custom_threads_jdk8.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/custom_threads_trace_debugger.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/custom_threads_trace_debugger_jdk11.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/custom_threads_trace_debugger_jdk21.txt
  src/jvm/test/resources/expected_logs/run_concurrent_test/deque_jdk8.txt
Labels: refactoring

#726 Fix missing events in root of GPMC lambda in short trace
  src/jvm/main/org/jetbrains/kotlinx/lincheck/trace/TraceFlattenPolicies.kt
  src/jvm/test/resources/expected_logs/run_concurrent_test/multiple_roots.txt
Labels: general-purpose mc, Trace Debugger
